dbdemo/src/main/mule/dbdemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e07aebf4-85ba-4cae-9b1a-72432f2765eb" basePath="db" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="83105605-b674-44fb-86c8-1077fe34a3fb" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="batch41" />
	</db:config>
	<flow name="dbdemoFlow" doc:id="46946524-61fd-4e2e-a6d9-c00fbb2661ff" >
		<http:listener doc:name="Listener" doc:id="53e39e4b-745e-4481-9686-7cae27e95e0d" config-ref="HTTP_Listener_config" path="allemployees"/>
		<db:select doc:name="Select" doc:id="833d9356-3b9a-4aac-8d78-c4bd90cceb70" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from employee where email = :email and gender = :gender]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	email:attributes.queryParams.email,
	gender:attributes.queryParams.gen
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="92295961-4d14-4fec-8587-73aaecfe4fa5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
