cloudapp-hello/src/main/mule/cloudapp-hello.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ec98c181-341c-4234-9b16-09b56f8119ce" basePath="cloud" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="cloudapp-helloFlow" doc:id="3afb4c94-db8e-4c47-a57d-ef0605579fdd" >
		<http:listener doc:name="Listener" doc:id="15b978ad-4d4f-47e6-ad81-e7ca2e0ec4d7" config-ref="HTTP_Listener_config" path="hello"/>
		<set-payload value="#['app deployed in cloud!']" doc:name="Set Payload" doc:id="7fdef8a3-a682-4bdd-8fe5-a909a48cc5da" />
	</flow>
</mule>
